<app-topbar [hidden]="this._uw.routeLogin"></app-topbar>
<router-outlet></router-outlet>
<app-footer></app-footer>




<div id="article-1" class="menu menu-box-top menu-box-bottom-full rounded-0 " data-menu-height="100%" style="display: block; height: 100%;">
	<div class="" style="margin-top: 100px;z-index:1;">
		<div class="content">
			<div class="card-top pt-4 pl-3 pr-3">
				<a  class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-up"></i></a>
				<!-- <a href="#" class="float-right icon icon-s rounded-l bg-theme color-theme ml-3"><i class="fa fa-home"></i></a> -->
			</div>
			<h1>Agregar producto</h1>
			<div class="list-group list-custom-large mb-4">
				<a data-trigger-switch="switch-1" data-menu="menu-heart" class="border-0" href="#">
				<i class="fa font-14 fa-bookmark shadow-s bg-red-dark color-white"></i>
				<span>Read this Later</span>
				<strong>Save it now, read it later.</strong>
				<div class="custom-control scale-switch ios-switch">
				<input type="checkbox" class="ios-input" id="switch-1">
				<label class="custom-control-label" for="switch-1"></label>
				</div>
				<i class="fa fa-angle-right"></i>
				</a>
			</div><p>Donec consectetur dictum nisi, et sodales lectus rutrum at. Donec lacinia metus quis metus rutrum, sed aliquet neque faucibus.Donec consectetur dictum nisi, et sodales lectus rutrum at. Donec lacinia metus quis metus rutrum, sed aliquet neque faucibus.</p>
			<div class="divider"></div>
		</div>
	</div>
	<a href="#" class="close-menu btn btn-l rounded-sm font-600 btn-full btn-margins gradient-green">Ok</a>
</div>

	