<div class="page-content pb-0">
	<div class="cover-slider owl-carousel owl-dots-cover">
		<div class="card mb-0" data-card-height="cover">
			<div class="card-center text-center">
				<h1 class="font-18 font-700 color-dark mb-n1">5 </h1>
				<h1 class="font-40 font-800 pb-4">Categorías</h1>
				<h4 class="opacity-60 mb-4 pb-4">Clasifica y muestra tus productos.</h4>
				<h1 class="text-center"><img src="assets/assetsadmin/images/undraw/a.svg" class="mx-auto" width="240"></h1>
			</div>
		</div>
		<div class="card mb-0" data-card-height="cover">
			<div class="card-center text-center">
				<h1 class="font-18 font-700 color-green mb-n1" style="color:#42c152ff;">Whatsapp</h1>
				<h1 class="font-34 font-800 pb-4">Integración</h1>
				<h4 class="opacity-60 mb-4 pb-4">Conecta directamente con tus clientes.</h4>
				<h1 class="text-center"><img src="assets/assetsadmin/images/undraw/b.svg" class="mx-auto" width="180"></h1>
			</div>
		</div>

		<div class="card rounded-0 mb-0" data-card-height="cover">
			<form class="form"[formGroup]="ngFormLogin" (ngSubmit)="onLogin()" >
				<div class="card-center pl-3">
					<div class="text-center">
						<h1 class="font-40 font-800 pb-2">My<span class="gradient-dark p-2 mx-1 color-white scale-box d-inline-block rounded-s border-0">Shop</span></h1>
						<h5 class="mt-n2 opacity-30 mb-4">Buckapi's shop administrator</h5>
					</div>
					<div class="ml-3 mr-4 mb-n3">						
						<div>
						<span class="color-dark">Your Email</span>
						<em>(required)</em>
						<input type="email" placeholder="Your Email" class="form-control" id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email"required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
							<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
								<div *ngIf="fval.email.errors.required">Email is required</div>
								<div *ngIf="fval.email.errors.email">Enter a valid email address</div>
							</div>
						</div>
						<div>
						<span class="color-dark">Your Password</span>
						<em>(required)</em>
						<input type="password" class="form-control" id="password" placeholder="*******" formControlName="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}"  required>
							<div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
								<div ngClass="fval.password.errors.required">
								Password is required.
								</div>
							</div>
						</div>
						
					</div>
					<!-- <a href="#" class="btn btn-center-l gradient-dark rounded-sm btn-l font-13 font-600 mt-5 border-0" >Entrar</a> -->
					<button type="submit" class="btn btn-center-l gradient-dark rounded-sm btn-l font-13 font-600 mt-5 border-0" style="color:white;">Iniciar Sesión</button>
				</div>
			</form>
		</div>
	</div>
</div>