<div id="page">	
	<div class="content mb-0">
		<a href="page-chat.html" class="d-flex mb-3"  *ngFor="let order of orders; index as i" >
			<div>
				<img src="assets/assetsadmin/images/pictures/order.jpg" width="60" class="rounded-xl mr-3">
			</div>
			<div>
				<h5 class="font-16 font-600" [hidden]="{{order.currency != 'usd'}}">{{order.personaContacto}} $USD {{order.total | number:'1.2-2'}}</h5>
				<h5 class="font-16 font-600"  [hidden]="{{order.currency != 'colp'}}">{{order.personaContacto}} COLP {{order.total | number:'1.0-0'}}</h5>
				<h5 class="font-16 font-600"  [hidden]="{{order.currency != 'bs'}}">{{order.personaContacto}} BsS {{order.total | number:'1.0-0'}}</h5>
				<p class="line-height-s mt-1 opacity-70">{{order.email}}</p>
			</div>
			<div class="align-self-center pl-3">
				<i class="fa fa-angle-right opacity-20"></i>
			</div>
		</a>
		<div class="divider mb-3"></div>
		
	</div>
</div>